<%= content_tag :h1, "Ваш заказ: 2650р" %>
<table class="my-cart">
  <tbody>
  <tr>
    <td class="count">- 3 +</td>
    <td class="name">Шампиньоны с курицей</td>
    <td class="comment">Мой рецепт, большая</td>
    <td class="price">850р</td>
  </tr>
  <tr>
    <td class="count">- 1 +</td>
    <td class="name">Дары моря</td>
    <td class="comment"></td>
    <td class="price">450р</td>
  </tr>
  <tr>
    <td class="count">- 1 +</td>
    <td class="name">Маргарита</td>
    <td class="comment"></td>
    <td class="price">250р</td>
  </tr>
  <tr>
    <td class="count">- 2 +</td>
    <td class="name">Brothers</td>
    <td class="comment">большая</td>
    <td class="price">920р</td>
  </tr>
  <tr>
    <td class="count">- 1 +</td>
    <td class="name">Мясное ассорти</td>
    <td class="comment"></td>
    <td class="price">450р</td>
  </tr>
  </tbody>
</table>

<%= content_tag :h2, "Доставка и оплата" %>
<p>
  Имя
  Телефон
  Адрес
  Email
  Сдача с
  Комментарий
</p>
