<h1>Список заказов <%= link_to '+', new_order_path %></h1>

<span class="orders-new">Новые</span><span class="orders-closed"><%= link_to "Выполненные", closed_orders_path %></span>

<table class="orders-new">
  <%= render "orders/orders_list" %>
</table>

<script type="application/javascript">
    window.setInterval(function () {
        $.get("/orders/get_new", function (data) {
            $("table.orders-new").html(data);
        });
    }, 5000);
</script>