<footer>
  <div class="copyleft">
    <ul>
      <%= content_tag :li, link_to("Пиццерия", "/about") %>
      <%= content_tag :li, link_to("Написать предложение", "#feedback") %>
    </ul>
  </div>

  <div class="copyright">
    Pizza Brothers &copy; 2014
  </div>
</footer>