<div class="static-menu">
  <ul>
    <%#= content_tag :li, link_to("Меню", root_path) %>
    <%= content_tag :li, link_to("Акции", "/special") %>
    <%= content_tag :li, link_to("Доставка и оплата", "/shipping_and_payment") %>
  </ul>
</div>

<!--Static.create(title: "Акции", short_url: "special")-->
<!--Static.create(title: "Доставка и оплата", short_url: "shipping_and_payment")-->
<!--Static.create(title: "Пиццерия", short_url: "about")-->
